#osPagamentoContainer{
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 20%; 

    padding: 10px 40px;

    background-color: #fbf7e3;
    border: 1px solid black;

    width: 70%;
    height: 60%;

    display: none;
    flex-direction: column;
}#osPagamentoContainer > p:first-child{
    display: flex;
    flex-direction: row-reverse;
    margin-right: 1px;
    cursor: default;

    font-size: 30px;
    font-weight: bold;
}#osPagamentoContainer > p{
    margin: 0 auto;
    font-size: 30px;
    font-weight: bolder;
}#osPagamentoContainer > p:last-child{
    color: #e21517;
    margin: 0 5px;
}#osPagamentoContainer > div{
    display: flex;
    flex-direction: row;
}

#osPagamentoContainer > #osPagamentoContent{
    width: 100%;
    height: 100%;

    /* background-color: teal; */
}
#osPagamentoContent > div{
    width: 50%;

    background-color: silver;
    margin: 5px;

    font-size: 20px;
    font-weight: bolder;
}#osPagamentoContent > div > p:first-child{
    text-align: center;
    font-size: 30px;
}
#osPagamentoContent > div > div{
    display: flex;
    flex-direction: row;

    font-size: 25px !important;
    font-weight: initial !important;
    margin: 15px;

    /* justify-content: left; */

}#osPagamentoContent > div > div > *{
    margin: auto 5px;
}

#osPagamentoContentTwo > div:last-child{
    flex-direction: column;
}#osPagamentoContentTwo >div:last-child > p{
    margin: 15px 0;
}
#osPagamentoContent > #osPagamentoContentTwo > div > input {
    height: 30px;
    font-size: 15px;
    padding: 5px;
}#osPagamentoContent > #osPagamentoContentTwo > div{

}#osPagamentoContent > #osPagamentoContentTwo > div >img{
    width: 35px;
}