#features-content{
    display: flex;
    flex-direction: row;

    width: 100%;

    margin-top: 10px;
}
#features-content > #features-table{
    width: 45%;
}
#features-table > table{
    width: 100%;
}
#features-content > #features-action{
    margin-left: 55px;

    display: flex;
    flex-direction: column;
    width: 45%;
}
#features-action > p{
    font-size: 25px;
    font-weight: 500;
}
#features-action > input{
    height: 30px;
    font-size: 25px;

    margin: 10px 0;
}
#features-action > #features-salvar{
    width: 150px;

    background-color: #929292;
    color: white;

    border: none;
    border-radius: 20px;

    align-self: center;
}
