#menu-create-customer{
    display: flex;
    flex-direction: row;
}
#menu-create-customer > #buttons{
    align-self: center;
    margin-left: 80%;
}
#btn-list{
    border-radius: 10px;
    border: none;

    width: 150px;
    height: 40px;
    margin: 30px 15px 0px;

    color: white;
    font-size: 25px;
    font-weight: bold;

    background-color: #3087f9;
}

#createCustomer-container{
    margin-top: 20px;
    width: 100%;
    max-height: 85%;
    height: 100%;

    /* background-color: mediumpurple; */
    display: flex;
}
#createCustomer-container > #createCustomer-content{
    /* background-color: steelblue; */
    margin: 20px;

    display: flex;
    flex-direction: column;
    height: 90%;
    width: 100%;
}

#createCustomer-content > div{
    margin: 10px;
    /* background-color: thistle; */
    max-height: 500px;
    height: 150px;

    display: flex;
    flex-direction: row;
}#createCustomer-content > #fourthy-line{
    height: 500px !important; 
}

#createCustomer-content > div > div{
    margin: 10px;
    /* background-color: tan; */
    width: 100%
}
#createCustomer-content > div > div > input{
    width: 80%;
    height: 30px;

    margin-right: 50px;

    padding: 5px;
    font-size: 20px;
}
#createCustomer-content > div > div > .title, #createCustomer-content > #color > .title{
    font-size: 25px;
    font-weight: bold !important;
}

#createCustomer-content > div > div > p:last-child{
    font-size: 20px;
}
#createCustomer-content > div > #note > input {
    height: 100%;
}

#createCustomer-content > div > input{
    width: 150px;
    height: 35px;
    align-self: center;

    margin-right: 5%;

    font-size: 25px;
    color: white;
    background-color: #06ce11;
    border: none;
    border-radius: 10px;
}
#createCustomer-content > div > #color{
    display: flex;
    flex-direction: column;
}