#btnCancelarVenda{
    width: 200px;
    height: 35px;

    background-color: red;

    border: none;
    border-radius: 10px;

    font-size: 25px;
    color: white;
    font-weight: bolder;

    position: absolute;

    right: 20px;
    margin-top: 25px;
}

#osRV-content, #osRV-content > div{
    display: flex;
    flex-direction: row;
}#osRV-content{
    width: 100%;

    /* background-color: brown; */
}

#osRV-content > div{
    margin: 10px 25px;

    width: 50%;

    
    /* background-color: cadetblue; */
}
#osRV-content > #primeira-parte > *{
    margin: 5px 20px;
}
#osRV-content > #primeira-parte > div:first-child{
    width: 60%;
}
#osRV-content > #primeira-parte > input{
    width: 200px;
    height: 35px;

    background-color: chartreuse;

    color: white;
    font-size: 25px;

    border: none;
    border-radius: 10px;
}


#osRV-content > #segunda-parte > *{
    margin: 0 40px;
    font-size: 20px;
}
#osRV-content > #segunda-parte > div > input{
    width: 200px;
    font-size: 20px;
}