#menu{
  /* Página inteira, incluindo a SideBar */
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
#menuContent{
  /* Div responsavel por todo conteudo da pagina home */
  display: flex;
  flex-direction: column;
  align-items: center;
  
  width: 100%;
  height: 100%;
}
#menuContent > h1{
  /* Titulo da Página */
  color: #548EFF;
  font-size: 55px;
  font-weight: bold;

  margin: 15px;
}
#menuContent > #menuFunctionBar{
  /* Esta div define a barra de funções (Funções de Pesquisa e botões) */
  display: flex;
  flex-direction: row;

  width: 100%;
}

#menuFunctionBar > #searchPickers{
  /* div que encapsula as definições de pesquisa */
  display: flex;
  flex-direction: row;

  align-self: flex-start;

  margin: 15px 70px;
  width: 70%;
}

#searchPickers > div{
  /* Cada tipo de seletor, é encapsulado em uma div, aqui é definido a estilização base, como tamanho da div
  e da fonte em geral */
  margin: 10px 30px;
  max-width: 250px;
  min-width: 100px;
  width: 100%;
  
  font-size: 20px;
  color: #838181;
}
#searchPickers > div > p, #searchPickers > div > div{
  /* Aqui é dado um pequeno espaço entre o titulo e os seletores */
  margin-bottom: 5px;
}

#searchPickers > #dispatchDate{
  /* Como a parte de date, consome uma parte maior em width e tem mais elementos
  Aqui é definido um tamanho maior para a div. */
  max-width: 350px;
  width: 100%;
}
#searchPickers > #dispatchDate > div:first-child{
  /* pela forma que é alinhado a parte de date, aqui é feito o alinhamento do
  icon com o titulo. e posicionamento centralizado.*/
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: center;
}
#searchPickers > #dispatchDate > div:first-child > img{
  /* margin para o icon não ficar colado com o titulo */
  margin: 0 5px;
}
#searchPickers > #dispatchDate > #dataPicker{
  /* Div que fica a baixo do titulo, com os input Date e o texto.
  aqui é feito o alinhamento em linha deles */
  display: flex;
  flex-direction: row;
  width: 100%;
  
  justify-content: center;
  align-items: center;
}
#searchPickers > #dispatchDate > #dataPicker > p{
  /* margin no "a", entre os inputs para não ficarem colados */
  margin: 0 10px;
}

/* Estilização dos botoões "Orçamento" e "Nova Ordem" */
#menuButtons{
  align-self: center;
}
#menuButtons > button{
  width: 130px;
  height: 40px;
  margin: auto 5px;

  border: none;
  background-color: transparent;

  border-radius: 5px;
  font-size: 18px;
  font-weight: 500;
}
#menuButtons > #btnBudget{
  background-color: #3378FF;
  color: white
}
#menuButtons > #btnOrder{
  color: #3ACC6C;
  border: 1px solid #3ACC6C;
}



  
  a{
    text-decoration: none;
    color: white;
  }
  a:visited{
    text-decoration: none;
  }

  #content > div, #content > div > a, #segunda-linha > div a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
  }
  #content > div:not(#segunda-linha), #segunda-linha > div{
    background-color: #3087f9;
    border: #00a4d3 dotted 5px;
    border-radius: 10px;

    margin: 20px 0;
    padding: 10px;

    text-align: center;
    align-items: center;
  }

  #content p{
      margin-left: 10px;
  }

  #segunda-linha > div{
    width: 50%;
    height: 130px;
    display: flex;
  }

  #segunda-linha > #relatorios{
    margin-right: 10px;
  }

  #segunda-linha > #cliente{
    margin-left: 10px;
  }
  
  #controles > div{
      font-size: 20px;
      margin: 0px 25px;
      font-size: 20px;
  }
  #controles p{
    margin: 0px;
  }

  #footer{
      display: grid;
  }
  #footer img{
      max-width: 150px;
  }
  #footer > #user{
      justify-self: start;
      grid-column: 1;
      grid-row: 1;

      margin: auto 30px 20px;

      padding: 15px;
      background-color: #3087f9;

      border: 2px solid white;
      box-shadow: 5px 5px 10px grey;

      font-size: 20px;
  }
  #footer > #new-user{
      justify-self: end;
      grid-column: 2;
      grid-row: 1;

      margin: auto 50px 0px;

      text-align: center;
      font-weight: 500;
      font-size: 20px;
  }

  #footer a{
    color: #11e0dd;
    text-decoration: underline;
  }