#container{
    height: 100%;
    width: 100%;
    background-color: #3C7EFF;
    display: flex;
    flex-direction: row;
}

#content-logo{
     /* max-width: 619px; */
    margin: auto auto; 
    width: 50%;
    display: flex;
    justify-content: center;
}

#btn_login{
    background-color: #3C7EFF;
    color: white;
}

#logo{
    height: 50%;
    width: 60%;
}

#content-form{
    background-color: white;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}





#forms{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 90%;
    height: 55%;
}

#container-forms{
    display:flex;
    flex-direction:column;
    width:50%;
    height:42%;
    justify-content:center;  
    align-items: left;
}


#titles{
    text-align: left ;
    width:  100% ;
    margin-bottom: 20px ;
}

@media screen and (max-width: 1500px) {
    #container-forms{
        width: 65%;
    }
}

@media screen and (min-width: 1501) {
    #container-forms{
        width: 50%;
    }
}



