#formPieces-container{
    background-color: #7cb3fb;

    max-height: 700px;
    max-width: 800px;
    height: 500px;
    width: 700px;

    display: none;
    justify-content: center;
    align-items: center;

    position: absolute;
    /* left: auto;
    right: auto; */
    top: 10%;
    right: 50%;

}#formPieces-container > #btn_fechar{
    position: absolute;
    top: 5px;
    right: 5px;
    
    background: none;
    border: none;

    font-size: 25px;
    font-weight: 600;
}

#formPieces-content{
    display: flex;
    flex-direction: column; 
    justify-content: center;

    width: 90%;
    font-size: 25px;
    margin: auto;
}#formPieces-content input{
    width: 100%;
    height: 40px;

    border: 2px solid white;
    border-radius: 10px;

    color: white;
    background-color: transparent;

    font-size: 20px;
    font-weight: 500;
}#formPieces-content > div{
    margin: 100px 0;
}

#formPieces-content > #formPieces-primeira_linha{
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin: 20px 0;
    width: 100%;
}#formPieces-content > #formPieces-primeira_linha > div{
    width: 93%;
}

#formPieces-content > #formPieces-segunda_linha{
    display: flex;
    flex-direction: row;
    justify-content: center;
}#formPieces-content > #formPieces-segunda_linha > div{
    width: 35%;
    margin: 0 10px;
}

#formPieces-content button{
    height: 30px;
    width: 125px;
    margin-top: 35px;
}