#btn-find{
    grid-row: 2;
    grid-column: 2;
    background-color: #e6e6e6;
    border: 1px black solid !important;
    color: black !important;
    font-weight: initial !important;
} #btn-create{
    grid-row: 2;
    grid-column: 3;
    background-color: #06ce11;
} #btn-delete{
    grid-row: 2;
    grid-column: 4;
    background-color: #e61610;
} #btn-readjustment{
    grid-row: 2;
    grid-column: 5;
    background-color: #078d8b;
}

#volta p{
    color: #0079ff;
}