@import url(https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap);
#login{
    margin: 80px auto 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#logo-login{
    height: 500px;
    max-width: 500px;
    width: 100%;
    background-color: brown;
}
#logo-login img{
    height: 100%;
    width: 100%;
}
#form-login{ 
    /* Teste para visualização */
    background-color: cadetblue;
}
#form-login img{
    max-width: 90px;
    margin-bottom: 10px;
}
#form-login form{
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}#form-login form input
{
    padding: 3px;
    margin: 5px;
}

#form-login form input:last-child{
    font-family: 'Roboto Slab', 'Times New Roman', Times, sans-serif;
    color: white;
    padding: 3px;
    border: 0px solid #06ce11;
    border-radius: 3px;
    background-color: #06ce11;
    height: 25px;
    width: 80px;
}