#cad-container{
    background-color: #7cb3fb;

    max-height: 700px;
    max-width: 800px;
    height: 500px;
    width: 700px;

    display: none;
    justify-content: center;
    align-items: center;

    position: absolute;
    left: auto;
    right: auto;
    top: 10%;
    right: 25%;
}#cad-container > #btn_fechar{
    position: absolute;
    top: 5px;
    right: 5px;
    
    background: none;
    border: none;

    font-size: 25px;
    font-weight: 600;
}
#cad-content{
    display: flex;
    flex-direction: column; 
    justify-content: center;

    width: 80%;

    font-size: 25px;
}
#cad-content > *{
    margin: 10px 0px;
}
#cad-content > p{
    text-align: center;
    color: white;
    font-weight: bold;
}
#cad-content > form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: 20px 10px;
}
#cad-content > form > div{
    width: 100%;
    /* align-content: center; */
}
#cad-content > form > div > div{
    margin: 20px 0;
}
#cad-content > form input, select{
    width: 90%;
    height: 35px;
    border: 2px solid white;
    border-radius: 10px;

    background-color: transparent;

    font-size: 20px;
    font-weight: 500;
}
#cad-content > form select{
    background-color: white !important;
}
#cad-content > form > div > div > input{
    padding: 5px;
}
#cad-content > #btn_formUser{
    margin: 5px auto;
    width: 40%;
    height: 35px;
    border: 2px solid white;
    border-radius: 10px;

    background-color: transparent;

    font-size: 20px;
    font-weight: 800;
    color: white;
}
#cad-content > #btn_formUser:active{
    background-color: teal;
}