#sellTableClose{
    width: 30px;
}
#sellTableClose:hover{
    border: none;
    border-radius: 100%;
    box-shadow: 1px 1px 25px black;
}

.itenTable > thead > tr > td:first-child, .itenTable > tbody > tr > td:first-child{
    width: 30px !important;
}
.itenTable > thead > tr > td:nth-child(6), .itenTable > tbody > tr > td:nth-child(6){
    width: 150px;
}
.itenTable > thead > tr > td:nth-child(7), .itenTable > tbody > tr > td:nth-child(7){
    width: 50px;
}
.itenTable > tbody > tr > td:nth-child(7) > input{
    width: 60px;

    font-size: 25px;

    border: none;
    height: 100%;
}

#RVadiconaLinha{
    width: 400px;
    height: 50px;

    margin-left: 45px;

    border: none;
    border-radius: 10px;

    background-color: teal;

    font-size: 30px;
    color: white;
}

#RVfinal{
    display: flex;
    flex-direction: row;

    width: 100%;
    margin: 5px 30px;
}
#RVfinal > #RVobservacao{
    width: 75%;
    font-size: 30px;
}
#RVfinal > #RVobservacao > textarea{
    font-size: 20px;
    
    resize: none;

    width: 95%;
    height: 300px;

    padding: 5px;
}

#RVfinal > #RVfinalizar{
    display: flex;
    flex-direction: column;

    margin: 0 auto;

    font-size: 30px;
}
#RVfinal > #RVfinalizar > input{
    margin: 50px 0; 
    
    height: 40px;

    font-size: 25px;
    color: white;

    border: 1px solid black;
    border-radius: 10px;

}#RVfinal > #RVfinalizar > input:first-of-type{
    background-color: teal;
}#RVfinal > #RVfinalizar > input:last-of-type{
    background-color: #fdb457;
}