#table-users{
    overflow: scroll;
    max-height: 65%;
    margin-top: 20px;
}
table{
    max-width: 95%;
    margin: 20px auto;
    text-align: center;

    font-size: 25px;
    border-spacing: 0px;

    margin-top: 30px;
}
table th, td{
    max-width: 50%;
    width: 600px;
    height: 70px;

    padding: 10px;

    border: 1px solid #c0c0c0;
}
table th{
    background-color: #e5e5e5;
}

table > tbody > tr:hover td:not(th){
    background-color: #73b8ba;
}

table tr.selecionado td{
    background-color: #5f9ea0 !important;
}