#menu-read-customer{
    display: flex;
    flex-direction: row;
}
#menu-read-customer > #buttons{
    align-self: center;
    margin-left: 65%;
}
#buttons > button{
    border-radius: 10px;
    border: none;

    width: 150px;
    height: 40px;
    margin: 30px 15px 0px;

    color: white;
    font-size: 25px;
    font-weight: bold;
}


#customer-container{
    margin-top: 20px;
    width: 100%;
    max-height: 85%;
    height: 100%;

    /* background-color: mediumpurple; */
    display: flex;
}
#customer-container > #customer-content{
    /* background-color: steelblue; */
    margin: 20px;

    display: flex;
    flex-direction: column;
    height: 90%;
    width: 100%;
}

#customer-content > div{
    margin: 50px;
    /* background-color: thistle; */
    max-height: 150px;

    display: flex;
    flex-direction: row;
}

#customer-content > div > div{
    margin: 10px;
    /* background-color: tan; */
    width: 100%
}

#customer-content > div > div > .title{
    font-size: 25px;
    font-weight: bold !important;
}

#customer-content > div > div > p:last-child{
    font-size: 20px;
}

#customer-content > div > #note{
    overflow-x: hidden;
    overflow-y: scroll;
}