#defects-content{
    display: flex;
    flex-direction: row;

    width: 100%;

    margin-top: 10px;
}
#defects-content > #defects-table{
    width: 45%;
}
#defects-table > table{
    width: 100%;
}
#defects-content > #defects-action{
    margin-left: 55px;

    display: flex;
    flex-direction: column;
    width: 45%;
}
#defects-action > p{
    font-size: 25px;
    font-weight: 500;
}
#defects-action > input{
    height: 30px;
    font-size: 25px;

    margin: 10px 0;
}
#defects-action > #defect-salvar{
    width: 150px;

    background-color: #929292;
    color: white;

    border: none;
    border-radius: 20px;

    align-self: center;
}
