#header{
    background-color: #3087f9;
    height: 60px;
    display: grid;
    /* flex-direction: row; */
    /* justify-content: center; */
}
#header img{
    max-height: 50px;
    margin-top: 4px;
}
#header h1{
    color: white;
    font-size: 50px;
    justify-self: center;
    margin: auto;
    grid-column: 2;
    grid-row: 1;
}
#header img:first-child{
    justify-self: start;
    grid-column: 1;
    grid-row: 1;
    margin-left: 5px;
}
#header img:last-child{
    justify-self: end;
    grid-column: 3;
    grid-row: 1;
    margin-right: 5px;
}