/* Estilização do componente */
#page-wrap > *{
    text-align: center;

    overflow: hidden;
}
.bm-morph-shape{
    fill: #222C3C;
}
.bm-menu{
    /* width: 100%; */
    background-color: #222C3C;
}
.bm-item-list{
    width: 100%;
    max-height: 50px;

}
.bm-item{
    width: 300px;
    height: 80px;
    
    margin: 30px auto;

    color: white;
}
.bm-item:hover:not(:first-child){
    /* impede que o primeiro iten (USER), tenha a mudança com mouse em cima. */
    background-color: #394456;
}

.bm-item > div{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    
    align-items: center;
    padding: 0 10px;
}
.bm-item:last-child{
    /* BTN SAIR */
    border-top: 3px solid rgba(255, 254, 254, 0.22);
    margin-bottom: 0;
    position: absolute;
    height: 100px;
    width: 300px;
    bottom: 0;
    left: 0;

}
.bm-item > div > #userEditIcon{
    width: 20px;
    margin-left: 30px;
}
.bm-item > div > img{
    width: 50px;
}
.bm-item > div > p, .bm-item > div > div > p{
    /* Texto dos itens */
    font-size: 25px;
    font-weight: 500;
    margin: 0 0 0 10px;
}
.bm-item > div > p{
    /* texto normal dos itens */
    font-weight: normal !important;
}
/* FIM DA SIDEBAR MOVEL */


.no-select > *{
    /* No select, faz com o o texto ou iten não seja selecionavel. */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}



/* SIDE BAR FIXA, modelo fechado */
#sideBar{
    /* SIDEBAR */
    position: fixed;
    background-color: #222C3C;
    color: white;
    width: 90px;

    max-height: 100%;
    min-height: 100%;
    /* padding-top: 20px; */
}

#sideBar > div{
    /* Itens da SideBar */
    display: flex;
    flex-direction: row;
    
    align-items: center;
    justify-content: center;

    margin: 40px 0;

    height: 70px;
}
#sideBar > div:last-child{
    /* BTN SAIR */
    position: absolute;
    bottom: 0;
    width: 100%;
}
#sideBar > div > img{
    /* icones */
    width: 60px;
    height: 65px; 
}

/* Faz a animação para que a SideBar fique invisvel antes de a outra sobrepor */
.sidebarClose{
    animation: sideBarCloseAnimation forwards;
    animation-duration: 0.5s;
}

@keyframes sideBarCloseAnimation{
    from{opacity: 1; display: fixed;}
    to{opacity: 0; display: none;}
}



/* Readequação com Media Query */
/* ----------------------------------Altura---------------------------------- */
@media (max-height: 1000px){
    .bm-item{
        height: 60px;
    }.bm-item:hover:not(:first-child){
        background-color: royalblue;
    }
    .bm-item > div > img{
        max-height: 100%;
        width: 60px;
        height: 60px;
    }

    #sideBar > div{
        height: 50px;
    }
}
@media (max-height: 840px){
    .bm-item{
        height: 50px;
    }.bm-item:hover:not(:first-child){   
        background-color: rebeccapurple;
    }

    #sideBar > div{
        height: 45px;
        margin: 30px 0;
    }
    #sideBar > div > img{
        max-height: 100%;
        width: 40px;
        height: 40px;
    }
}
@media (max-height: 740px){
    .bm-item{
        /* height: 40px; */
    }.bm-item:hover:not(:first-child){
        background-color: sandybrown;        
    }


    #sideBar > div{
        height: 40px;
        margin: 35px 0;
    }
}
/* ----------------------------------Largura---------------------------------- */
/* @media (max-width: 1280px){
    #sideBar{   
        width: 75px;
    }
}
@media(max-width: 1000px){
    #sideBar{
        width: 65px;
    }
} */