/* Estilização do componente */
#page-wrap > *{
    text-align: center;

    overflow: hidden;
}
.bm-morph-shape{
    fill: #222C3C;
}
.bm-menu{
    width: 100%;
    background-color: #222C3C;
}
.bm-item-list{
    max-width: 300px;
    width: 100%;
    max-height: 70px;

}
.bm-item{
    width: 90%;
    height: 100%;

    margin: 30px auto;
}
.bm-item:hover:not(:first-child){
    /* impede que o primeiro iten (USER), tenha a mudança com mouse em cima. */
    background-color: #394456;
}



/* Estilizção do nosso Menu */
.bm-item > div{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    
    align-items: center;
    padding: 0 10px;
}
.bm-item:last-child{
    /* BTN SAIR */
    border-top: 3px solid rgba(255, 254, 254, 0.22);
    margin-bottom: 0;
    position: absolute;
    height: 100px;
    width: 300px;
    bottom: 0;
    left: 0;

}
.bm-item > div > img{
    max-width: 50px;
    width: 100%;
}
.bm-item > div > p, .bm-item > div > div > p{
    /* Texto dos itens */
    font-size: 25px;
    font-weight: 500;
    margin: 0 0 0 10px;
}
.bm-item > div > p{
    /* texto normal dos itens */
    font-weight: normal !important;
}



.no-select > *{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}