@import url('https://fonts.googleapis.com/css?family=Abel&display=swap');
@font-face {
    font-family: 'Abel';
    src: local('Abel') url('./public/Abel-Regular.ttf');
}
body {
  /* font-family: "Abel", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
  font-family: 'Abel', "Roboto", sans-serif, Helvetica, -apple-system;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
